* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", "Arial", sans-serif;
}

/* START OF HEADER */
.menu-container {
  color: #fff;
  background-color: #5995da;
  padding: 20px 0;
}

.menu-items {
  margin: 0 auto;
  list-style-type: none;

  width: 900px;

  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 20px;
}

/* END OF HEADER */

/* START OF HERO */
.hero-container {
  color: #5995da;
  background-color: #d6e9fe;
}

.hero {
  margin: 0 auto;
  width: 900px;
  height: 300px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* END OF HERO */

/* START OF PHOTO GRID */
.photo-grid {
  margin: 0 auto;
  width: 900px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.photo-grid-item {
  width: 300px;
  height: 300px;
}

.first-item {
  order: 1;
}

.last-item {
  order: -1;
}
/* END OF PHOTO GRID */

/* START OF FOOTER */
.footer {
  display: flex;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #d6e9fe;
  height: 200px;
  flex: 1;
}

.footer-one,
.footer-three {
  background-color: #5995da;
  flex: initial;
  width: 300px;
}

/* END OF FOOTER */
